body {
    font-family: 'Roboto', sans-serif;
    background-color: #eef2f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.auth, .posts {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-weight: 400;
}

input, textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

label {
    margin-right: 10px;
}

.post {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
    margin-bottom: 5px;
}

.timestamp {
    font-size: 0.85em;
    color: #777;
    margin-top: 10px;
}

